library ieee;
use ieee.std_logic_1164.all;

package Common_Ports is

    constant N: positive := {{ channel_number }}; -- Number of signal channels

    -- Common ports shared between Data_Sniffing and Communication_Module
    signal data_signal_buffer: std_logic_vector(N-1 downto 0);
    signal status_signal: std_logic;

end Common_Ports;

package body Common_Ports is
    -- Initialize signals if needed
    -- For example: in_data_common <= (others => '0');
end Common_Ports;