library ieee;
use ieee.std_logic_1164.all;
-- use work.Common_Ports.all;

entity Communication_Module is

	generic (
		N: positive := {{ channel_number }} -- Number of input and output channels
	);

	port (
		i_Nbit_comm: in std_logic_vector(N-1 downto 0);
		o_Nbit_comm: out std_logic_vector(N-1 downto 0)
	);

end Communication_Module;

architecture behav of Communication_Module is

begin
    o_Nbit_comm <= i_Nbit_comm;
end behav;
